#top {
	height: 50px;
	width: 100%;
	background-color: #fafafa;
}

#top button {
	position: relative;
	height: 25px;
	width: 100px;
	top: 25%;
	left: 45%;
}

#wrapper {
	width: 880px;
	height: 880px;
	margin: 50px auto;
	border: 3px solid #f0f0f0;

}

.cell, .highlight{
	display: inline-block;
	height: 104px;
	width: 104px;
	margin: 1px 2px 1px 3px;
	padding: 0;

}

.cell {
	background-color: #f0f0f0;
}

.highlight {
	background-color: black;
}